html
    head
        style(type="text/css").
            div {
                width:250px;
                height:250px;
                border:2px solid black;
            }
            ul{
                list-style-type:none;
                display:flex;
                align-items:center;
                justify-content:center;
                flex-wrap:wrap;
            }
            li{
                font-size:20px;
            }
            div{
                margin:10px;
            }
        title User List
        script.
            users="#{users}"
            sort="#{sort}"
            input="#{input}"
        script(scr='../workspace.js')


body
    h1= "User List"
        input(type='text', name='search', onchange=`location.href = '/users/' + '${sort}' + '/' + this.value`)
        select(onchange=`location.href = '/users/' + this.value + '/' + input`)
            option(value=null) -
            option(value='ascending') ascending (A-Z)
            option(value='decending') decending (A-Z)
        ul
            each val in users
                div
                    li= val.name
                    li= val.email
                    li= val.uid
                    li= val.age
                    li
                        a(class='button', href=`/edit/${val.uid}`) Edit
                    li
                        a(class='button', href=`/delete/${val.uid}`) Delete
            else 
                li There are no values